<h2 id="welcome">
    Welcome to your Dashboard, {{username}}
</h2>


<div class="flex dash">
    <div id="postForm">
    <h3>
        Create a new blog post
    </h3>
    <form class="new-blog-form">

        <input type="text" id="blog-title" name="blog-title" placeholder="Post Title" />
        <textarea id="blog-desc" name="blog-desc" placeholder="Post Content"></textarea>

        <button id="createPost" type="submit">Create Post</button>
    </form>
    </div>

{{#if blogs.length}}
<div id="postList" class="blog-list">
    <h3>
        Current Posts
    </h3>
    <hr>
    <br>
    {{#each blogs as |blog|}}

    <h4>
        <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h4>

    <button data-id="{{blog.id}}">Delete</button>

    <button class="update" data-id="{{blog.id}}">Update</button>

    {{/each}}
</div>
{{/if}}
</div>
<script src="/js/dashboard.js"></script>